<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Actions</title>
  </head>
  <body>
    <main class="container">
      <div class="grid gap-8 py-12 place-items-center">
        <slot />
      </div>
    </main>
  </body>
</html>
